body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .start button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

h1 {
    margin: 20px 0;
    
.grid {
    display: grid;
    grid-template-columns: repeat(5, 30px); 
    gap: 5px;
    margin-bottom: 20px;
}
.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #000;
    font-size: 16px;
}
    
.cell.invalid {
    background-color: black;
}

.cell.correct {
    background-color: #66bb66; /* Muted green */
}

.cell.misplaced {
    background-color: #ffcc66; /* Muted yellow */
}

.cell.incorrect {
    background-color: #333; /* Dark grey */
}   
.clues {
    margin-top: 20px;
}

.clues h2 {
    margin-bottom: 5px;
}
.clues h3 {
    margin: 5px 0;
}
.clues ul {
    list-style: none;
    padding: 0;
}
